<p>user-dashboard works!</p>
<h1>👤 Gerenciamento de Usuários</h1>

<!-- Exibir quantidade de usuários -->
<p>Total de Usuários Cadastrados: <strong>{{ totalUsers }}</strong></p>

<div class="container">


  <!-- Formulário de Cadastro -->
  <div class="box">
    <h2>➕ Criar Novo Usuário</h2>
    <form (submit)="registerUser()">
      <label>Usuário:</label>
      <input type="text" [(ngModel)]="registerData.username" name="username" required>

      <label>Email:</label>
      <input type="email" [(ngModel)]="registerData.email" name="email" required>

      <label>Senha:</label>
      <input type="password" [(ngModel)]="registerData.password" name="password" required>

      <button type="submit">Cadastrar</button>
    </form>
  </div>
</div>

<!-- Exibir mensagem de erro -->
<p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
