.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.box {
  border: 1px solid #ddd;
  padding: 20px;
  width: 300px;
  border-radius: 10px;
}

.box h2{
  text-align: center;
}

form{
  display: flex;
  flex-direction: column;
  justify-content: center;
}


